AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BasedOnStyle: Google
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 100
Cpp11BracedListStyle: true
DerivePointerAlignment: false
IndentWidth: 4
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
SortIncludes: false
SpaceBeforeAssignmentOperators: true
Standard: Cpp11
SortIncludes: false
UseTab: Never
