# Please try to keep this file as empty as possible,
# and document what cannot be avoided.

# Give users an ignored place to build, either a /build/ directory or one with 
# config parameters such as /build-arm-Debug/
/build*/*

# For now, ignore any viam_rust_utils library in the root.
/libviam_rust_utils*

# Ignore clang cache.
/.cache/

# ignore doxygen output
/etc/docs/api/*

# ignore vscode customization
/.vscode/*
