# Please try to keep this file as empty as possible,
# and document what cannot be avoided.

# Give users an ignored place to build
/build/*

# For now, ignore any viam_rust_utils library in the root.
# The `lib` prefix is on unix-based systems only
/libviam_rust_utils*
/viam_rust_utils*

# Ignore clang cache.
/.cache/

# ignore doxygen output
/etc/docs/api/*

# Conan user presets should be ignored
CMakeUserPresets.json
