# Please try to keep this file as empty as possible,
# and document what cannot be avoided.

# Give users an ignored place to build
/build/*

# For now, ignore any viam_rust_utils library in the root.
/libviam_rust_utils*

# Ignore clang cache.
/.cache/

# ignore doxygen output
/etc/docs/api/*
.DS_Store
