name: Generate docs

on:
  workflow_dispatch:
  push:
    paths:
      - "src/**"
      - "README.md"
    branches: [main]

jobs:
  generate-docs:
    # if: github.repository_owner == 'viamrobotics'
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/viamrobotics/canon:amd64
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: install Doxygen
        uses: ssciwr/doxygen-install@v1
        with:
          version: "1.10.0"

      - name: create path
        run: mkdir -p etc/docs/api/current

      - name: Generate docs
        run: doxygen Doxyfile

      - name: Check folder
        run: ls etc/docs/api/current

      - name: test
        run: echo 'test' > docs/_build/html/my-test-file.txt

      - name: Check folder 2
        run: ls etc/docs/api/current

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: html-docs
          path: etc/docs/api/current

      - name: Check folder 3
        run: ls etc/docs/api/current

      # - name: Deploy docs
      #   uses: peaceiris/actions-gh-pages@v3
      #   if: github.ref == 'refs/heads/main'
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     publish_dir: etc/docs/api/current
      #     publish_branch: docs-gh_pages
      #     cname: cpp.viam.dev
