name: cpp-linter

on:
  pull_request:
  workflow_dispatch:

jobs:
  cpp-linter:
    if: github.repository_owner == 'viamrobotics'
    runs-on: ubuntu-latest
    container: ghcr.io/viamrobotics/cpp-base:bullseye-amd64
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: verify no uncommitted changes
        run: |
          git init
          git add .
          ./bin/run-clang-format.sh
          GEN_DIFF=$(git status -s)

          if [ -n "$GEN_DIFF" ]; then
              echo 'linting resulted in changes not in git' 1>&2
              git status
              git diff
              exit 1
          fi
