name: Test

on:
  pull_request:
  workflow_dispatch:

jobs:
  run-tests:
    if: github.repository_owner == 'viamrobotics'
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/viamrobotics/canon:amd64
    steps:
      - uses: actions/checkout@v4
      ###########################################
      #     necessary installs for building     #
      ###########################################
      - name: build-docker-test
        run: |
          docker build -t cpp . -f etc/docker/tests/Dockerfile.debian.bullseye
          docker run --rm -i -w /tmp cpp /bin/bash
