name: Update module generator templates

on:
  push:
    branches:
      - update-job
    paths:
      - 'src/viam/sdk/components/*.hpp'
      - 'src/viam/sdk/services/*.hpp'

jobs:
  update_templates:
    runs-on: ubuntu-latest
    container:
      image: debian:bookworm

    steps:
      - name: Install dependencies
        run: |
          apt-get update
          apt-get -y dist-upgrade

          DEBIAN_FRONTEND=noninteractive apt-get -y --no-install-recommends install \
              build-essential \
              ca-certificates \
              cmake \
              curl \
              doxygen \
              g++ \
              gettext \
              gdb \
              git \
              gnupg \
              gpg \
              less \
              libboost-all-dev \
              libc-ares-dev \
              libgrpc++-dev \
              libprotobuf-dev \
              libre2-dev \
              libssl-dev \
              lsof \
              ninja-build \
              pkg-config \
              protobuf-compiler-grpc \
              software-properties-common \
              sudo \
              tree \
              wget \
              zlib1g-dev

          bash -c 'wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo tee /etc/apt/trusted.gpg.d/llvm.asc'
          apt-add-repository -y 'deb http://apt.llvm.org/bookworm/ llvm-toolchain-bookworm-15 main'
          apt-add-repository -y 'deb http://apt.llvm.org/bookworm/ llvm-toolchain-bookworm-15 main'
          apt-get update

          DEBIAN_FRONTEND=noninteractive apt-get -y --no-install-recommends install -t llvm-toolchain-bookworm-15 \
            clang-15 \
            llvm-15-dev \
            libclang-15-dev

      - name: Checkout generator repository
        uses: actions/checkout@v6
        with:
          repository: lia-viam/rdk
          ref: cpp-fixes
          path: rdk

      - name: Build and install generator
        run: |
          cd rdk/cli/module_generate/cpp-gen
          mkdir build
          cd build
          cmake .. -G Ninja \
            -DCMAKE_CXX_COMPILER=clang++-15 \
            -DLLVM_DIR=/usr/lib/llvm-15
          ninja install
          cl_gen -h

      - name: Checkout SDK
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          path: sdk

      - name: Generate SDK build tree
        working-directory: sdk
        run: |
          mkdir build
          cd build
          cmake .. -G Ninja \
            -DVIAMCPPSDK_BUILD_TESTS=OFF \
            -DVIAMCPPSDK_BUILD_EXAMPLES=OFF \
            -DCMAKE_CXX_COMPILER=clang++-15

      - name: Operate on changed files
        working-directory: sdk
        run: |
          changed_files=$(git diff --name-only  ${{ github.event.before }} ${{ github.event.after }} | \
            grep -E '^src/viam/sdk/(components|services)/[a-z_]+\.hpp' | \
            sed 's@\.hpp@.cpp@g' | \
            sort -u )
          echo "Changed files:"
          echo "$changed_files"

          for changed in $changed_files; do
            cl_gen -p ./build $changed -o \
              $(echo $changed | \
              cut -d '/' -f 4-5 | \
              sed 's@$@.in@' | \
              sed 's@^@res/module_generator/_templates/@')
          done

      - name: Create PR
        uses: peter-evans/create-pull-request@v8
        with:
          path: sdk
          branch: workflow/update-templates
          add-paths: |
            res/module_generator/_templates/components/*
            res/module_generator/_templates/services/*
          title: Automated update to module generator templates
          token: ${{ secrets.GIT_ACCESS_TOKEN }}
          delete-branch: true
