name: Update Protos + Open PR

on:
  workflow_dispatch:
  repository_dispatch:
    types:
      - protos-updated

jobs:
  update-protos:
    if: github.repository_owner == 'viamrobotics'
    runs-on: [self-hosted, x64]
    container:
      image: ghcr.io/viamrobotics/canon:amd64
    steps:
      - uses: actions/checkout@v3
      - uses: MarkusJx/install-boost@v2.4.4
        with:
          boost_version: 1.81.0
          boost_install_dir: "~/boost"
          platform_version: 22.04
      - uses: lukka/get-cmake@latest
      - uses: bufbuild/buf-setup-action@v1.9.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Generate buf
        run: cmake -B build -DVIAMCPPSDK_USE_DYNAMIC_PROTOS=ON && cmake --build ./build --target update-static-protos
        env:
          BUF_TOKEN: ${{ secrets.BUF_TOKEN }}
      - name: Add + Commit + Open PR
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: '[WORKFLOW] Updating protos from ${{ github.event.client_payload.repo_name }}, commit: ${{ github.event.client_payload.sha }}'
          branch: 'origin/update-protos'
          delete-branch: true
          title: Automated Protos Update
          body: This is an auto-generated PR to update proto definitions. Check the commits to see which repos and commits are responsible for the changes
          assignees: stuqdog
          reviewers: stuqdog
